<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('beta/223/assets/css/main.css') }}">
        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>
        {% block header %}{% endblock %}
        {% block nav %}{% endblock %}

        {% block body %}{% endblock %}

        {% block footer %}
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
