{% extends 'base.html.twig' %}

{% block body %}
    <h1>Привет, {{ name }}</h1>
    <div>
        contract:
        {% for contract in contracts %}
            price: {{ contract.price }}
        {% endfor %}
    </div>
{% endblock %}